<!-- Sidebar izquierda-->
<div th:fragment="sidebar" class="text-white p-3 px-1 d-none d-md-block"
  style="width: 240px; background-color: #363b41;">
  <div class="px-3 py-1">
    <div class="d-flex align-items-center justify-content-center mb-3">
      <i class="bi bi-fire text-danger fs-4 me-2"></i>
      <span class="fw-bold fs-5 text-white">Calories Control</span>
    </div>
    <hr class="my-2 sidebar-divider">
  </div>



  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-white active my-3 d-flex align-items-center" th:href="@{/home}">
        <i class="bi bi-calculator me-2"></i> Calculadora
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white d-flex my-3 align-items-center" th:href="@{/imc/create}">
        <i class="bi bi-table me-2"></i> Registrar IMC
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white d-flex  my-3 align-items-center" th:href="@{/rutina}">
        <i class="bi bi-table me-2"></i> Rutinas
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white my-3 d-flex align-items-center" th:href="@{/auth/login}">
        <i class="bi bi-box-arrow-in-right me-2"></i> Login
      </a>
    </li>
  </ul>
</div>
<!-- End Sidebar -->