<div th:fragment="table" class="col-12 col-lg-6">
    <div class="card shadow border-0">
        <div class="card-body p-4">
            <h4 class="card-title mb-4 d-flex align-items-center">
                <i class="bi bi-clipboard-data me-2 text-dark"></i> Tabla de Clasificación IMC
            </h4>

            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Rango</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="badge" style="background-color: #f57948">&lt; 18.5</span></td>
                            <td><strong style="color: #3f3e3e">Bajo peso</strong></td>
                            <td class="text-muted">Puede indicar desnutrición o problemas de salud.</td>
                        </tr>
                        <tr>
                            <td><span class="badge text-white" style="background-color: #6cad6cff;">18.5 - 24.9</span>
                            </td>
                            <td><strong style="color: #3f3e3e">Normal </strong></td>
                            <td class="text-muted">Rango saludable asociado con menor riesgo de enfermedades.</td>
                        </tr>
                        <tr>
                            <td><span class="badge text-white" style="background-color: #daad44ff">25 - 29.9</span></td>
                            <td><strong style="color: #3f3e3e">Sobrepeso</strong></td>
                            <td class="text-muted">Aumenta el riesgo de enfermedades cardiovasculares y diabetes.</td>
                        </tr>
                        <tr>
                            <td><span class="badge" style="background-color: #f57948">&ge; 30 - 34.9</span></td>
                            <td><strong style="color: #3f3e3e">Obesidad tipo 1</strong></td>
                            <td class="text-muted">Alto riesgo de enfermedades crónicas como hipertensión y apnea del
                                sueño.
                            </td>
                        </tr>

                        <tr>
                            <td><span class="badge" style="background-color: #fa5210">&ge; 35 - 39.9</span></td>
                            <td><strong style="color: #3f3e3e">Obesidad tipo 2</strong></td>
                            <td class="text-muted">Alto riesgo de enfermedades crónicas como hipertensión y apnea del
                                sueño.
                            </td>
                        </tr>

                        <tr>
                            <td><span class="badge" style="background-color: #ff0c0c">&ge; > 40</span></td>
                            <td><strong style="color: #3f3e3e">Obesidad tipo 3</strong></td>
                            <td class="text-muted">Alto riesgo de enfermedades crónicas como hipertensión y apnea del
                                sueño.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End Tabla de Categorías IMC -->